@import "common/reset"
@import "common/variables"
@import "common/mixins"
@import "common/template"

@import "pc/variables"

// clearfix
.cf:before, .cf:after
  content: "."
  display: block
  height: 0
  font-size: 0
  clear: both
  visibility: hidden

// ラッパー
.wrap
  +set-page-width
  min-height: 80vh

// notice
.flash
  font-size: 14px
  padding: 14px
  border-radius: 4px
  +set-page-max-width
  &--left-bottom
    position: fixed
    bottom: 16px
    left: 16px
    min-width: 300px
    max-width: 500px
    padding: 16px 8px 16px 16px
    border-radius: 3px
    background-color: #fff
    display: flex
    align-items: center
    justify-content: space-between
    z-index: 100
  &--notice
    background-color: #d4edda
    color: #155724
  &--danger
    background-color: #fff3cd
    color: #856404
  &_item
    padding: 0 0 8px 0
    &:last-child
      padding: 0
  &_dismiss
    background-color: transparent
    border: 0
    color: inherit
    cursor: pointer
    opacity: .5
    padding: 0 8px

.show
  font-size: 1rem
  display: flex
  align-items: flex-start
  min-height: 100vh
  color: rgb(29, 28, 29)
  .sidebar1
    background-color: rgb(38,0,39)
    width: 10rem
    min-height: 100vh
    padding: 1rem 0
    box-sizing: border-box
    .item
      padding: .5rem 1rem
      color: rgba(white, .75)
      background-color: rgb(38,0,39)
      display: block
      &--active,
      &:hover
        background-color: rgba(38,0,39, .75)
        color: white
  .sidebar2
    min-height: 100vh
    width: 12rem
    background-color: #3F0E40
    .workspace-name
      color: white
      font-size: 1.2rem
      margin: 1rem 1rem .5rem
    .user-name
      opacity: .5
      color: white
      margin: .5rem 1rem .5rem
    .link-title
      opacity: .5
      color: white
      margin: 1.5rem 1rem .5rem
    .item
      padding: .5rem 1rem
      color: rgba(white, .75)
      background-color: #3F0E40
      display: block
      &--active,
      &:hover
        // background-color: rgba(#3F0E40, .75)
        background-color: #1164A3
        color: white
  .background-white
    background-color: white
  .main
    width: calc(100vw - 22rem)
    .head
      height: 44px
      padding: 8px 8px 8px 20px
      display: flex
      align-items: center
      justify-content: space-between
      border-bottom: 1px solid #e2e2e2
      &_left
        font-weight: bold
        font-size: 1.6rem
        vertical-align: center
      &_right
        display: flex
        align-items: center
        &_search
          height: 2rem
          width: 9rem
          border-radius: 4px
          border: 1px solid rgba(29, 28, 29, .5)
          display: flex
          align-items: center
          .text
            color: rgba(29, 28, 29, .5)
          .img
            margin: .2rem
            height: 24px
            width: 24px
        &_img
          margin: 0 1rem
          height: 24px
          width: 24px
    .form
      width: calc(100vw - 22rem - 20px * 2)
      background-color: white
      &_inner
        margin: 0 0 20px 20px
        display: flex
        align-items: center
        .input
          height: 2rem
          border-radius: .25rem
          border: 1px solid #e2e2e2
          width: calc(100% - 8rem)
          padding: .5rem 1rem
          font-size: 1rem
          display: block
          margin-right: 1rem
        .submit-btn
          height: 2rem
          width: 4rem
          text-align: center
          cursor: pointer
          padding: .5rem
          background-color: #007a5a
          color: white
          font-weight: bold
          border-radius: 4px
          line-height: 2
          &:hover
            box-shadow: 0px 0px 6px 1px rgba(0,0,0,.2)


  .messages
    height: calc(100vh - 60px - 70px)
    overflow-y: scroll
    overflow-x: hidden
    padding: .5rem 0
    box-sizing: border-box
    .message-item
      padding: .5rem 2rem
      .item-info
        display: flex
        align-items: baseline
        .item-name
          font-size: .9rem
          font-weight: bold
        .item-time
          font-size: .8rem
          color: rgb(97, 96, 97)
          margin-left: .2rem
      .item-content
        margin-top: .25rem
